{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'pages/slick/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/slick/slick-theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/home.css' %}">
{% endblock css %}

{% block content %}
<div class="slick row" id="slick_home">
	<div><img src="{% static 'pages/images/slick_home/1.jpg' %}" alt=""></div>
	<div><img src="{% static 'pages/images/slick_home/2.jpg' %}" alt=""></div>
</div>
<br>
<h2 class="text-center small-only-text-left">Ответы на вопросы</h2>
<ul class="medium-block-grid-3 large-block-grid-4">
	<li>
		<h3>А вот такой вот вопрос</h3>
		<p>Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.</p>
	</li>
	<li>
		<h3>Как можно взлететь?</h3>
		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.</p>
	</li>
	<li>
		<h3>Ленин – гриб.</h3>
		<p>Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай Жюль. Эй, жлоб! Где туз? Прячь юных съёмщиц в шкаф. Экс-граф? Плюш изъят. Бьём чуждый цен хвощ! Эх, чужак! Общий съём цен шляп (юфть) — вдрызг! </p>
	</li>
	<li>
		<h3>Йога - круто.</h3>
		<p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.  </p>
	</li>
</ul>
<h2 class="text-center small-only-text-left">Преподаватели</h2>
<div class="row panel radius teachers">
	<div class="medium-6 columns teacher">
		<h3>Женя Калиновский</h3>
		<div class="slick">
			<div><img src="{% static 'pages/images/slick_home/1.jpg' %}" alt=""></div>
			<div><img src="{% static 'pages/images/slick_home/2.jpg' %}" alt=""></div>
		</div>
		<p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.  </p> 
		
		<a class="fi-social-facebook">facebook</a>
		<a class="fi-social-instagram">instagram</a>
		<a class="fi-social-twitter">twitter</a>	
	</div>
	<div class="medium-6 columns teacher">
		<h3>Юля Калиновская</h3>
		<div class="slick">
			<div><img src="{% static 'pages/images/slick_home/1.jpg' %}" alt=""></div>
			<div><img src="{% static 'pages/images/slick_home/2.jpg' %}" alt=""></div>
		</div>
		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.</p>

		<a class="fi-social-facebook">facebook</a>
		<a class="fi-social-instagram">instagram</a>
		<a class="fi-social-twitter">twitter</a>
	</div>
</div>
<br>
<h2 class="text-center small-only-text-left">Расписание</h2>
<div class="row text-center">
	<div class="google-hack medium-10 medium-offset-1 columns">
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;hl=ru&amp;bgcolor=%23FFFFFF&amp;src=roman.reimche%40gmail.com&amp;color=%232952A3&amp;ctz=Africa%2FJohannesburg" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</div> 
<br>
<h2 class="text-center small-only-text-left">Стоимость занятий</h2>
<div class="row panel radius">
	<p class="text-center">Одно занятие – 100 грн.<br>
	Абонемент на 8 занятий – 700 грн.<br>
	Абонемент на 12 занятия – 900 грн.<br>
	Индивидуальное занятие – 400 грн.<br>
	Персональная программа<br>
	</p>
</div>
<br>
<h2 class="text-center small-only-text-left">Местонахождение</h2>
<div class="row panel radius">
	<div class="medium-8 medium-offset-2 columns">
		<div class="google-hack">
	    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.201042739146!2d30.545698950966216!3d50.418725797431094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6c1186f1b5%3A0xf03126b9521735be!2z0LLRg9C7LiDQmtGW0LrQstGW0LTQt9C1LCAyLzM0LCDQmtC40ZfQsiwg0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2sde!4v1445358516409" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	    </div>
	    <p class="text-justify">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.</p>
	</div>
</div>
<br>
<h2 class="text-center small-only-text-left">Задать нам вопрос</h2>
<div class="row panel radius">
	<div class="medium-6 medium-offset-3 columns end text-center">
		{% include 'mailers/contactform.html' %}
	</div>
</div>
		
	
{% endblock content %}

{% block body_js %}
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'pages/slick/slick.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $('.slick').show();
    $('#slick_home').slick({
      adaptiveHeight: false,
      lazyLoad: 'ondemand',
      autoplay: true,
      autoplaySpeed: 4000,
      infinite: true,
      fade: false,
      cssEase: 'linear',
      dots: false
    });
    $('.teachers .slick').slick({
      adaptiveHeight: false,
      lazyLoad: 'ondemand',
      autoplay: true,
      autoplaySpeed: 4000,
      infinite: true,
      fade: true,
      cssEase: 'linear',
      arrows: false,
      pauseOnHover: false,
    });
  });
</script>
{% endblock body_js %}