{% extends 'foundation/base.html' %}
{% load staticfiles %}

{% block base_title %}
<title>{% block title %}Домашняя студия йоги "Ёж" в Киеве{% endblock title %}</title>
{% endblock base_title %}

{% block head %}
{% endblock head %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/core.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation-icons.css' %}">
{% endblock css %}

{% block base_body %}
<header>
  <nav id="topbar" class="top-bar" data-topbar role="navigation">
        <ul class="title-area nofloat">
          <li class="name"><h1><a href="/"><img id="logo" class="left" src="{% static 'pages/images/logo.jpg' %}" alt="Домашняя студия йоги \"Ёж\" в Киеве"></a></h1></li>

           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Меню</span></a></li>
        </ul>
        <section class="top-bar-section nofloat">
          <ul class="">
            <li><a href="/studio/">О студии</a></li>
            <li><a href="/blog/">Блог</a></li>
            <li><a href="/training/">Занятия</a></li>
            <li><a href="/gallery/">Фото</a></li>
            <li><a href="/faq/">Вопросы и ответы</a></li>
            <li><a href="/contacts/">Контакты</a></li>
          </ul>
        </section> 
        <section class="top-bar-section nofloat social">
          <ul class="">
            <li><a href="https://www.facebook.com/kiev.yoga" class="fi-social-facebook"></a></li>
            <li><a href="#" class="fi-social-instagram"></a></li>
            <li><a href="#" class="fi-social-twitter"></a></li>
          </ul>
        </section>   
  </nav>
</header>

<main class="row">
    <div class="small-12 columns">
      {% block content %}{% endblock content %}
    </div>
</main>

<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-shield"></i> Ёж-студия</p> 
      <p class="footer-links">
        <a href="#">О нас</a>
        <a href="#">Блог</a>
        <a href="#">Занятия</a>
        <a href="#">Фото</a>
        <a href="#">Вопросы и ответы</a>
        <a href="#">Контакты</a>
      </p>
      <p class="copywrite">Здесь можно влепить копирайт © 2015</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i>ул. Киквидзе, 2/34<br>Киев</p></li>
        <li><p><i class="fi-telephone"></i>+380-50-347-23-07<br>+380-95-330-30-31</p></li>
        <li><p><i class="fi-mail"></i>contact@yozh-studio.ru</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">О студии</p>
      <p class="about subheader">Здесь можно ещё что-нибудь написать.</p>
      <ul class="inline-list social">
        <a href="#"><i class="fi-social-facebook"></i></a>
        <a href="#"><i class="fi-social-twitter"></i></a>
        <a href="#"><i class="fi-social-linkedin"></i></a>
        <a href="#"><i class="fi-social-github"></i></a>
      </ul>
    </div>
  </div>
</footer>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
{% endblock base_body %}

{% block body_js %}
  <script src="/media/blueimp/js/blueimp-gallery.min.js"></script>
  <script>
  document.getElementById('image-thumbnails').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
  };
  </script>
{% endblock body_js %}