
#slick_home {
	display: none;
}

#slick_home > div {
	text-align: center;
}

#slick_home img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#slick_home .slick-prev, #slick_home .slick-next {
	z-index: 9999;
}

#slick_home .slick-prev {
	left: 25px;
}

#slick_home .slick-next {
	right: 55px;
}

#slick_home .slick-prev:before, #slick_home .slick-next:before {
	color: #222;
	font-size: 95%;
}

a.fi-social-facebook, a.fi-social-instagram, a.fi-social-twitter {
	margin-right: 10px;
}

a.fi-social-facebook:before, a.fi-social-instagram:before, a.fi-social-twitter:before {
	padding-right: 5px;
}

.google-hack {
    position: relative;
    padding-bottom: 50%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-hack iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    /*pointer-events: none;*/
}

@media only screen and (max-width: 40em) {
	.google-hack {
	    padding-bottom: 100%; // This is the aspect ratio
	}
}


.teacher {
  margin-bottom: 1em;
}
